/* You can add global styles to this file, and also import other style files */
section{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}
body{
    background-color: rgb(235, 235, 235);
}
app-categories{
    width: 25%;
}
app-product{
    width: 75%;
}